DATABASE_URL=mysql://username:password*@localhost/sistema_inmobiliario
SECRET_KEY=your_jwt_secret_key
ALGORITHM="ALGORITHM"
ACCESS_TOKEN_EXPIRE_MINUTES= 234
BASE_URL=http://localhost:8000


#Email configuration
MAILJET_SMTP_SERVER=in-v3.mailjet.com
MAILJET_SMTP_PORT=587
MAILJET_USERNAME="your api key"
MAILJET_PASSWORD="your secret key"
MAIL_FROM=sebascova18@gmail.com